.like {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
}


.like img{
    width: 25px;
    height: auto;
    
    
}

.like img:hover {
    transform: scale(1.2);
    fill: red;
   
}

.likeIcon {
    cursor: pointer;
}